# Flutter
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/build/
**/.pub-cache/
**/.pub/
**/android/.gradle/
**/ios/Pods/
**/ios/.symlinks/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
.venv/
venv/
env/

# VS Code
.vscode/

# IDE
.idea/

# Database
*.db

# OS files
.DS_Store
